<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:,">
<title><%=title%></title>
</head>
<body>
    <div>caseRate = <%=rates.caseRate%></div>
    <div>fatalityRate = <%=rates.fatalityRate%></div>
    <div>recoveryRate = <%=rates.recoveryRate%></div>

    <div>activeTotal = <%=totals.activeTotal%></div>
    <div>deadTotal = <%=totals.deadTotal%></div>
    <div>recoveredTotal = <%=totals.recoveredTotal%></div>
</body>

</html>