<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="data:,">
<title><%=title%></title>

    <!--jquery-->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/assets/jquery.cookie-1.4.1.min.js"></script>

    <!--semantic-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>

    <!-- chart.js -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

    <!-- moment js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <!--custom-->
    <link rel='stylesheet' href='/fonts/fonts.css' />
    <link rel='stylesheet' href="/stylesheets/partials/navbar.css"/>
    <link rel='stylesheet' href='/stylesheets/report.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />

</head>
<body>
    <% include partials/navbar %>
    <div id="report-id">
        <div id="date"><%=start%> - <%=end%></div>
        <div id="country">in <%=country%></div>
    </div>

    <div id="data-cont">
        <div id="pie-data-cont">

            <div id="pie-chart-cont">
                <div id="total-cases"><%=totals.caseTotal%> total cases</div>
                <div id="pie-chart-content">
                    <canvas id="myPieChart"></canvas>
                </div>
            </div>

            <div id="breakdown-cont">
                <div>
                    <div id="recovered"><%=totals.recoveredTotal%> Recovered &nbsp <span><%=totals.recoveredPercent%>% of Cases</span></div>
                    <input id="recover-val" type="text" value="<%=totals.recoveredTotal%>" hidden>
                    <div id="active-cases"><%=totals.activeTotal%> Active Cases &nbsp <span><%=totals.activePercent%>% of Cases</span></div>
                    <input id="active-val" type="text" value="<%=totals.activeTotal%>" hidden>
                    <div id="dead"><%=totals.deadTotal%> Deaths &nbsp <span><%=totals.deadPercent%>% of Cases</span></div>
                    <input id="dead-val" type="text" value="<%=totals.deadTotal%>" hidden>
                </div>
            </div>
        </div>

        <br><br><br>
        <div class="num-cont stats-white">

            <div class="ui statistic">
                <div class="value">
                    <%=latest.newCases%>
                </div>
                <div class="label">NEW CASES</div>
            </div>

            <div class="ui statistic">
                <div class="value">
                    <%=latest.newDeaths%>
                </div>
                <div class="label">NEW DEATHS</div>
            </div>

            <div class="ui statistic">
                <div class="value">
                    <%=latest.newRecovered%>
                </div>
                <div class="label">NEW RECOVERED</div>
            </div>     

            <div class="ui statistic">
                <div class="value">
                    <%=rates.caseRate%>%
                </div>
                <div class="label">CASE RATE</div>
            </div>

            <div class="ui statistic">
                <div class="value">
                    <%=rates.fatalityRate%>%
                </div>
                <div class="label">FATALITY RATE</div>
            </div>

            <div class="ui statistic">
                <div class="value">
                    <%=rates.recoveryRate%>%
                </div>
                <div class="label">RECOVERY RATE</div>
            </div>    

        </div>


        <!--NEWSFEED-->
        <% if(newsFeed) { %>
        <div id="newsfeed-cont">
            <div id="title">NEWSFEED</div>
            <div id="subtitle">during <%=start%> - <%=end%></div>

            <div id="content">
                <ul>
                    <% newsFeed.forEach((news) => { %>
                    
                    <li>
                        <div class="news">
                            <%=news.headline%>
                            <a href="<%=news.link%>">view more</a>
                        </div>
                    </li>

                    <% }); %>
                </ul>

                <div id="courtesy">Courtesy of <span style="font-style: italic">The New York Times Company Article Search API</span></div>
            </div>
        </div>
        <% } %>
    </div>
</body>
<script src="/javascripts/report.js"></script>
</html>